body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #453545;
}

.header {
    background-color: #000;
    color: #455565;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}

.inner-header {
    width: 80%;
    margin: auto;
}

.logo {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.header-link {
    float: right;
    font-size: 20px;
    height: 50px;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: bold;
}

#banner-image {
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/back.jpg) no-repeat center;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

footer {
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}